
<div id="official-rules" style="display:none; height:80%; width:50%;">
	<p>
		No purchase necessary. Sweepstakes begins on March 16th, 2014 and ends on March 20th, 2014. Sweepstakes open to legal US residents 21 years of age or older excluding residents of AL, AR, IN, KY, LA, ME, MO, NC, PA, TX, UT, and WV.  Visit http://basketball.luckybuddhabeer.com for Official Rules and how to enter. (C) 2014 Sabemos Beverages LLC, Carlsbad, CA. All Rights Reserved.

		OFFICIAL RULES:

		LUCKY BUDDHA “WIN BEER FOR LIFE” SWEEPSTAKES

		MUST BE 21 YEARS OF AGE OR OLDER AND HAVE INTERNET ACCESS.

		NO PURCHASE NECESSARY TO ENTER OR WIN.

		ELIGIBILITY: The Lucky Buddha “Win Beer for Life” Sweepstakes (the “Sweepstakes”) begins at approximately 12:00:01 AM Eastern Time (“ET”) on March 17th, 2014 and ends at 08:59:59 AM ET on March 20th, 2014 (the “Promotion Period”).  The Sweepstakes is open to legal US residents 21 years of age or older excluding residents of AL, AR, IN, KY, LA, ME, MO, NC, PA, TX, UT, and WV. Persons in any of the following categories are not eligible to participate or win a prize: (a) employees of Sabemos Beverages LLC (“Sponsor”), Sponsor’s advertising/promotions agencies, alcoholic beverage licensees, and the parent, subsidiary, and affiliated companies of the foregoing; (b) persons who are engaged in the development, production, distribution of material, or drawing of winners for this Sweepstakes; and (c) persons who are immediate family members of, or who reside in the same household as, any person in either of the preceding categories. By participating, entrants agree to be bound by these Official Rules and the decisions of the Sponsor.

		HOW TO ENTER: Visit http://basketball.luckybuddhabeer.com, provide all information requested on the entry form, and submit. Entries will be deemed made by the authorized account holder of the email address used at the time of entry. The “authorized account holder” is defined as the natural person who was assigned by an Internet access provider or online service provider responsible for assigning email addresses for the domain associated with the email address used to enter the Sweepstakes. Entries made using automated entry devices of any kind will be disqualified. Incomplete entries will not be accepted, acknowledged, or returned. There is a limit of one entry per person or email address. If multiple entries are received from the same person or email address the first entry will be accepted and the others will be disqualified.

		PRIZES: On or around April 10th, 2014, one winner (“Winner”) will be selected at random, subject to confirmation of eligibility, from among all eligible entries received by the close of the Promotion Period. The Winner will be notified by phone or email and will receive the following prize: two (2) mail-in rebate claim forms each month for 600 consecutive months (50 years), with each claim form good for a $30.00 rebate after the purchase of one (1) case of Lucky Buddha beer and the submission of required proofs of purchase (the “Prize”). The Approximate Retail Value (“ARV”) of the Prize is $36,000. Any and all other costs and expenses not specifically mentioned herein including, but not limited to, transportation, taxes, and personal expenses, are the Winner’s responsibility to pay. Odds of winning will depend on the total number of eligible entries received during the Promotion Period. No alcohol is being awarded as a Prize. Mail-in rebate certificates will be mailed to the Winner each month.

		PRIZE CONDITIONS: Submission of Mail-in Rebate Claim Forms: As with any mail-in rebate program, the Lucky Buddha “Win Beer for Life” Sweepstakes requires the Winner to make a purchase and submit a claim for the rebate amount using the official rebate claim form prior to the expiration of the rebate offer period.  For every rebate claim, the Winner of the Sweepstakes must initially purchase one case (24 bottles or cans) of Lucky Buddha beer and mail to the Sponsor the Universal Product Code cut from the outer beer packaging AND the dated cash register receipt with the purchase price of the Lucky Buddha beer circled.  Two mail-in rebate claim forms will be mailed to the Winner prior to the beginning of each month for 600 consecutive months. Mail-in rebate claim forms will be valid only for the month issued (the rebate offer period) and will expire on the last day of such month. Claim forms are not transferrable from the Winner, and any claim forms that are determined to have been transferred, sold, auctioned, or otherwise conveyed in any manner from the Winner to any other person will be void and the mail-in rebate request will be denied. The Winner does not have to use the Prize in any particular month in order to continue receiving the Prize in future months; however, in the event that the Winner does not use any portion of the Prize during any month, there will be no extension, transfer, substitution, reimbursement, or compensation provided, and the Prize for that month will expire. Winner must be 21 years of age at the time of entry. Sponsor reserves the right upon notice to the Winner to substitute the Prize at any time with another prize or with a company check. The substituted prize or company check will be valued at the then-current value of the Prize at the time of substitution. Winner will be required to execute an Affidavit of Eligibility and Liability/Publicity Release to be returned within five (5) days from receipt. If Sponsor is unable to receive personal confirmation from the Winner of being selected as the Winner within five (5) days from the first notification attempt, or if the Winner (i) fails to complete and have returned all requested documents by the specified date, (ii) is found to be ineligible, or (iii) fails to comply with the Official Rules, the Prize will be forfeited and an alternate winner will be selected. If the Prize confirmation letter is returned as undeliverable, Prize will be forfeited and Sponsor will select an alternate winner. In the event that the ARV is greater than the actual cost of the Prize, no refund for the difference will be provided. The acceptance or use of the Prize constitutes permission for Sponsor to use Winner’s name and address (city and state) for promotional purposes on a worldwide basis, and in all forms of media, in perpetuity, without notice or further compensation. Winner agrees to release, discharge, indemnify, and hold harmless Sponsor and its parent company, affiliates, directors, officers, employees, and agents, from any claims due to any injuries, damages or losses to any person (including death) or property, resulting in whole or in part from acceptance or use of the Prize, or participation in the Sweepstakes. No substitutions are allowed. A purchase will not increase chances of winning. Winner will be issued an IRS Form 1099 for prizes valued in excess of $600.00. Taxes (federal, state, and local) are the sole responsibility of the Winner.

		LIMITATIONS ON LIABILITY: Sponsor and its parent, subsidiaries and affiliated companies, advertising, promotion or production agencies and all of their respective officers, directors, representatives, agents, and employees are not responsible for lost, late, delayed, inaccurate, incomplete, or misdirected entries, or for electronic, network or computer failures or malfunctions, lost or unavailable network connections, or failed, incomplete, garbled or delayed computer transmissions that may limit a user’s ability to participate in this Sweepstakes, or for other hardware, software or technical errors of any kind including any injury or damage to any person’s computer related to or resulting from participating in the Sweepstakes, or for other errors or difficulties of any kind whether human, mechanical, electronic, computer, network, typographical, printing or otherwise, relating to or in connection with the Sweepstakes, including, without limitation, errors or difficulties which may occur in connection with the administration of the Sweepstakes, the processing of entries, or with respect to any Sweepstakes-related materials. All entries become the property of the Sponsor. The Sweepstakes is subject to all applicable federal, state and local laws.  

		Sponsor is not responsible or liable for any loss, damage, inconvenience, or loss of time arising out of any acts, omissions, or negligence, of any person, including, without limitation, air and ground transportation carriers and any person providing any service or accommodation in conjunction with the Prize, or for delays or cancellations including, but not limited to those resulting from mechanical breakdown, closings, strikes, government action, inclement weather, or Acts of God. Sponsor is not responsible for lost or stolen mail or for lost or stolen claim forms after delivery to the Winner. Any person attempting to defraud or in any way tamper with the mechanics or logistics of this Sweepstakes will be declared ineligible and may be prosecuted. If, for any reason, the Sweepstakes is not capable of being conducted as planned because of actual or suspected tampering, unauthorized intervention, fraud, technical failures, or any other reason (each an “Intervening Cause”), which corrupts or affects the administration, security, fairness, integrity or proper execution of the Sweepstakes, Sponsor reserves the right to modify or cancel the Sweepstakes if prior to the end of the Promotion Period, or otherwise award the Prizes through a random drawing from among all eligible entries received which, in Sponsor’s discretion, were not affected by the Intervening Cause.  Any disputes regarding this Sweepstakes shall be governed by New York law and resolved in courts located in San Mateo County, California. Any and all claims, judgments and awards shall be limited to actual out-of-pocket costs incurred, including costs associated with entering this Sweepstakes, but in no event attorney fees. Entrant waives any claim for punitive, incidental and consequential damages. A Winner’s List will be posted at http://luckybuddhabeer.com/ for 30 days after the drawing date. Void where prohibited.

		SPONSOR: Sabemos Beverages LLC, Carlsbad, CA.
	</p>
</div>

<%#= render "devise/shared/links" %>
<section>
	<div class="container">
  	<div class="row">
    	<div class="col-md-6 col-sm-6 col-xs-12">
      	<img src="/assets/lucky-beer-bottel.png" alt="Lucky Beer Bottel" class="img-responsive mrg-btm30 center-block">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
				<div class="white-bx mrg-btm30">
        <!--form class="form-horizontal" role="form"-->
	        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class=>"form-horizontal", :role=>"form"}) do |f| %>
	        	<%= devise_error_messages! %>
	        	<div class="form-group">
	          	<div class="col-sm-12">
	            	<div class="title-txt1">Selection Sunday is March 16th, Signup Today </div>
	            </div>
	          </div>
	          <div class="form-group">
	          	<label for="inputEmail3" class="col-sm-4 control-label">First Name</label>
	            <div class="col-sm-8">
	            <!--input type="text" class="form-control" id="" placeholder="First name"-->
	            	<%= f.text_field :first_name, :autofocus => true, :class=>"form-control", :id=>"", :placeholder=>"First name" %>
	           	</div>
	          </div>
	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">Last Name</label>
	            <div class="col-sm-8">
	            	<!--input type="text" class="form-control" id="" placeholder="Last name"-->
	            	<%= f.text_field :last_name, :class=>"form-control", :id=>"", :placeholder=>"Last name" %>
	            </div>
	          </div>
	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">Email</label>
	            <div class="col-sm-8">
	            	<!--input type="text" class="form-control" id="" placeholder="Email"-->
	            	<%= f.email_field :email, :class=>"form-control", :id=>"", :placeholder=>"Email" %>
	            </div>
	          </div>
	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">Password</label>
	            <div class="col-sm-8">
	            	<!--input type="password" class="form-control" id="" placeholder="Password"-->
	            <%= f.password_field :password, :class=>"form-control", :id=>"", :placeholder=>"Password" %>
	            </div>
	          </div>
	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">Confirm Password</label>
	            <div class="col-sm-8">
	            	<!--input type="password" class="form-control" id="" placeholder="Confirm password"-->
	            	<%= f.password_field :password_confirmation, :class=>"form-control", :id=>"", :placeholder=>"Confirm password" %>
	            </div>
	          </div>
	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">Date of Birth</label>
	            <div class="col-sm-8">
	            	<!--input type="text" class="form-control" id="" placeholder="DD/MM/YYYY"-->
	            	<%= f.text_field :date_of_birth, :class=>"form-control date-picker", :id=>"", :placeholder=>"MM/DD/YYYY" %>
	            </div>
	          </div>
	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">Address Line 1</label>
	            <div class="col-sm-8">
	            	<!--textarea class="form-control" rows="2" placeholder="Enter address"></textarea-->
	            	<%= f.text_field :address1, :class=>"form-control", :id=>"", :placeholder=>"Enter address" %>
	           	</div>
	          </div>

	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">Address Line 2</label>
	            <div class="col-sm-8">
	            	<!--textarea class="form-control" rows="2" placeholder="Enter address"></textarea-->
	            	<%= f.text_field :address2, :class=>"form-control", :id=>"" %>
	           	</div>
	          </div>

	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">City</label>
	            <div class="col-sm-8">
	            	<%= f.text_field :city, :class=>"form-control", :id=>"", :placeholder=>"City" %>
	            </div>
	          </div>

	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">State</label>
	            <div class="col-sm-8">
	            	<%= f.text_field :state, :class=>"form-control", :id=>"", :placeholder=>"State" %>
	            </div>
	          </div>

	          <div class="form-group">
	          	<label for="inputPassword3" class="col-sm-4 control-label">Zip</label>
	            <div class="col-sm-8">
	            	<!--input type="text" class="form-control" id="" placeholder="Enter zip"-->
	            	<%= f.text_field :zip, :class=>"form-control", :id=>"", :placeholder=>"Enter zip"%>
	            </div>
	          </div>
	          
	          <div class="form-group">
	          	<div class="col-sm-offset-4 col-sm-8">
	            	<div class="checkbox">
      					<label>
        					<!--input type="checkbox"> I agree with all <a href="#">Terms</a> &amp; <a href="#">Condition</a-->
        					<%= f.check_box :terms_condition %>
        					I have read and accept the <a href="#official-rules" rel="modal:open">Official Rules</a>
      					</label>
    					</div>
	            </div>
	          </div>
	          <div class="form-group mrg-btm0">
	          	<div class="col-sm-offset-4 col-sm-8">
	            	<button type="submit" class="btn btn-success">Register</button>
	            	<%#= f.submit 'Register', :class=>"btn btn-success"%>
	            </div>
	          </div>
	          <!--/form-->
	        <% end %>
      	</div>
    	</div>
  	</div>
	</div>

	
</section>
